*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

.main {
    display: flex;
    flex-direction: row;
}

.side-menu {
    display: flexbox;
}

.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(214, 205, 205);
    width: 50vh;
    min-height: 100%;
}




.side-menu li img {
    height: 28px;
    width: 28px;
    display: inline-block;
    align-items: center;
    margin-top: 40px;
    position: relative;
}

.side-menu li h3 {
    font-size: 30px;
    display: inline-block;
    padding-left: 10px;
}


.circle img {
    width: 35%;
    height: 35%;
    padding-top: 50px;
    margin-left: 20px;
}

.circle h2 {
    font-style: comic;
    margin-bottom: 10px;
}

.circle h4 {
    font-weight: lighter;
    padding-left: 5px;
}

.side-menu .circle {
    margin-left: 100px;
    margin-bottom: 70px;
}

.side-menu ul {
    margin-bottom: 50px;
}

.side-menu ul li{
    margin-bottom: 30px;
}

 ul .box {
    border-radius: 70%;
    width: 20px;
    height: 20px;
    background-color: rgb(194, 3, 3);
    color: white;
    font-size: 10px;   
    padding: 4px 4px 4px 4px;
    margin-left: 10px;
}

.side-menu .logout {
    display: flex;
    margin-right: 15px;
}

.side-menu .logout .image img {
    width: 16px;
    height: 12px;
    filter: invert(100%);
    padding-left: 5px;

}

.side-menu .logout .image {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 60%;
    position: static;
}

************************************

.container {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 40%;
}

/* .main .container {
    position: absolute;
   right: 0;
   width: 80vw;
   height: 100vh;

} */

.main .container .dashboard {
    display: flex;
    flex-direction: row;
    margin-left: 60vh;
    margin-top: 40px;
}

.main .container .dashboard .box1 {
    width: 60vh;
}

.main .dashboard img {
    width: 30px;
    height: 30;
}

.main .dashboard .dash1 {
    display: flex;
    flex-direction: row;
    margin-right: 50vh;
}

.box1 .dash2 {
    display: flex;
    flex-direction: row;
}

.box1 .dash2 h4 img {
    display: flex;
    flex-direction: row;
}

 

